In [1]:
import pandas as pd 
# data and  data frmaes are the core of panda 

#many ways to create a DataFrame from scratch, 
#but a great option is to just use a simple dict.

data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [2]:
# pas into pandas DataFrame constructor 

purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [8]:

purchases = pd.DataFrame(data, index =['Mak' , 'Been' , 'Maalick', 'Hassy'])

purchases

         apples  oranges
Mak           3        0
Been          2        3
Maalick       0        7
Hassy         1        2

In [9]:
purchases.loc ['Mak']

apples     3
oranges    0
Name: Mak, dtype: int64